<section id="profile" class="profile-section">
    <div class="container p-5">
      <h4 class="display-4">My Profile</h4>
      <hr>
      <div class="m-auto" >
      </div>
      <div  class="row mt-5">
        <div class="col-md-3">
          <img src="../assets/img/faces/yashas.jpeg" alt="userImage" class="rounded-circle image" width="200" 
          height="200">
        </div>
        <div class="col-md-8 ml-3">
          <p id="name" class="lead">UserName</p>
          <br>
          <a class="btn btn-warning">My Projects</a>
          <br>
          <br>
          <a routerLink="/changeaccountsettings" class="btn btn-warning">Change Account Settings</a>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>

