<nav class="nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/projects">UF Projects List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/create">Add New Project</a>
          </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Select Department
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Computer Science Engineering</a></li>
              <li><a class="dropdown-item" href="#">Mechanical Engineering</a></li>
              <li><a class="dropdown-item" href="#">Electrical Engineering</a></li>
              <li><a class="dropdown-item" href="#">Law</a></li>
              <li><a class="dropdown-item" href="#">Arts and Sciences</a></li>
            </ul> -->
            <!-- <select id="inputDepartment" formControlName="department_name" class="form-control" (change)="selectChangeHandler($event)">
              <option selected>Select Department...</option>
              <option>Computer Science Engineering</option>
              <option>Electrical Engineering</option>
              <option>Mechanical Engineering</option>
              <option>Law</option>
              <option>Arts and Sciences</option>
            </select> -->
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
